<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">
    All Books
  </div>
  <div class="ui items">
      <% books.forEach(book=>{ %>
        <div class="item">
            <div class="image">
                <img src="<%= book.imageUrl %>" alt="book_img">
            </div>
            <div class="content">
                    <a class="header" href="/books/<%= book._id %>"><%= book.name %></a>
                    <div class="meta"><%= book.publishedIn %></div>
                    <div class="description"><%- book.description.substring(0,100) %>...</div>
                    <div class="extra">
                        <a class="ui black basic button" href="/books/<%= book._id %>">Know more<i class="angle right icon"></i></a>
                    </div>

            </div>
        </div>
      
      <% }) %>
  </div>
</div>

<% include partials/footer %>
